<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="phenologyDBConnection"
     providerName="MySql.Data.MySqlClient"
     connectionString="server=jornada-vdbmy.nmsu.edu; user id=phenology_admin; password=phenoCam1; database=phenologydb; pooling=false;" />
    <add name="phenologyLocalDBConnection"
     providerName="MySql.Data.MySqlClient"
     connectionString="SERVER=localhost; UID=root; PASSWORD=Jrn.phenomet; DATABASE=phenologydb;" />
  </connectionStrings>
  <appSettings>
    <add key="Rpath" value="C:\Program Files\R\R-3.1.1\bin\i386" />
  </appSettings>
</configuration>